<!DOCTYPE html>
<html>
  <head>
    <title>Cv</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f45567b7c1.js" crossorigin="anonymous"></script>
  
  </head>

  <body class='bg-gradient-to-r from-green-400 to-blue-500'>
  <%if notice %>
    <%= render 'partials/notice' %>
  <%end%>
  <% if alert %>
    <%= render 'partials/alerts' %>
  <% end %>

    <%= yield %>
  </body>
</html>
